*{
    margin: 0;
}
span{
    color:orangered ;
}
nav{
    background-color: rgb(6, 6, 53);
    display: flex;
    align-items: left; 
    color: white;
    height: 3em;
    padding: 0;
    margin: 0;
    gap: 25%;
    justify-content: space-around;
}
nav ul{
     padding: 25px 5% ;
     display: flex;
     align-items: center;
     justify-content: space-between;
      list-style: none;
    gap: 15%;
    
}
nav div {
    display: flex;
    align-items: end;
    justify-content:center;
     display: inline-flex;
}
nav ul li a{
    color: white;
  
}

